
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <script>
   $('#myModal').on('hidden.bs.modal', function () {
    $(this).remove();
  });
 </script>
 <div class="modal-dialog">
  <div class="modal-content">
  <%= form_for(@task,:remote => true) do |f| %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>


        <h4 class="modal-title" id="myModalLabel"><div id="title"><%= @task.title %> </div></h4>
      </div>

        <div id="description"><%= @task.description %> </div>


     <% end %>
      <div class="modal-body">


      <h3>CheckList</h3>
      <div id="checklist-<%= @task.id %>">
        <% @task.checklists.each do |item| %>
        <% if item.id != nil %>
        <div class="checkbox">

         <%= check_box_tag( "id", item.id, item.completed, data: 
         {remote: true,url:  complete_task_path(item.id),  }) %>
         <div id="task-<%= item.id.to_s %>" >
           <label>
             <% if item.completed %>
             <%= link_to item.description, edit_checklist_path(item.id), :remote => true, :class => "",:id => "link-"+item.id.to_s, :style => "margin-top: 0px;text-decoration:line-through" %>
             <% else %>     
             <%= link_to item.description, edit_checklist_path(item.id), :remote => true,:id => "link-"+item.id.to_s , :class => "", :style => "margin-top: 0px;" %>
             <% end %>
           </label> 
         </div>
       </div>
       <% end %>
       <% end %>
     </div>
     <%= link_to 'Novo Item...', new_checklist_path(:task => @task.id), :remote => true, :class => "btn btn-success ", :style => "margin-top: 5px;" %>   
   </div>
   <div class="modal-footer">
   <%= link_to 'Excluir Tarefa', @task, method: :delete, data: { confirm: 'Você tem certeza?' },:class => "btn btn-danger" %>
  </div>
</div>
</div>
</div>