<p id="notice"><%= notice %></p>

<h3>Stuff to do</h3>
<ul>
  <% @task.checklists.each do |item| %>
  <li><%= item.description %></li>
   <li><%= check_box_tag( "id", item.id, item.completed, data: {
    remote: true,
    url:  complete_task_path(item.id)   ,
  }) %></li>
  <% end %>

  
</ul>




<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @task.date %>
</p>

<p>
  <strong>Move:</strong>
  <%= @task.move %>
</p>

<p>
  <strong>Color:</strong>
  <%= @task.color_id %>
</p>

<p>
  <strong>List:</strong>
  <%= @task.list_id %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
