

<h1>Listing lists</h1>

<div class="row">
	<%=  @lists %>
	<% @lists.each do |list| %>
	<div class="col-sm-6 col-md-3 well">		
		<% list.tasks.each do |task| %>
		
		<%= link_to task.title, edit_task_path(task), :remote => true,:class => "thumbnail" %>
		<% end %>
		<h2><%= list.title %></h2> 

		<a href="#" class="thumbnail">
			ATIVIDADES1         
		</a>
		<a href="#" class="thumbnail">
			ATIVIDADES1         
		</a>
		<a href="#" class="thumbnail">
			ATIVIDADES1         
		</a>
		<%= link_to 'New Card', new_task_path, :class => "btn btn-primary btn-lg btn-block" %>		
	</div>
	<% end %>
</div>
<br>


<%= link_to 'New List', new_list_path %>
