

<h1>Lista de tarefas</h1>

<div class="row thumbnail" style="overflow-x: scroll;">	
	<% if  @lists.size  > 0 %>
	<% @lists.each do |list| %>
	<div class="col-sm-3 " >
		<div class="">
			<div style="height:200px">
				<div id="<%= list.id %>-List" class="well">	

					<%= link_to '', list, method: :delete, data: { confirm: 'Você tem certeza?' },:class => "glyphicon glyphicon-remove navbar-right link" %>	<br>
					<%= form_for(list,:remote => true) do |f| %>			
					<h3><div class="title-list" id="lista-<%= list.id %>" lista="<%= list.id %>">
					<% if list.title.size > 14 %>
					<%= list.title[0, 15] + "..." %>
					<% else %>
					<%= list.title %>
					<% end %>
					</div></h3>	
					<% end %>				

					<% list.tasks.each do |task| %>		
					<% @tasks.each do |t| %>	
					<% if t.id == task.id %>
					<% t.checklists.each do |c| %>
					<% if c.completed %>
					<% @count = @count +1 %>
					<% end %>
					<% end %>
					<% if @count != t.checklists.size  %>
					<span id="prog-<%= t.id %>" class="label label-default"><%= @count %>/<%= t.checklists.size %></span>
					<% else %>
					<span id="prog-<%= t.id %>" class="label label-success"><%= @count %>/<%= t.checklists.size %></span>
					<% end %>
					<% end %>
					<% end %>
					
					<% if task.title.size > 22 %>
					<% title = task.title[0, 23] + "..." %>
					<% else %>
					<% title = task.title %>
					<% end %>
					<%= link_to title, edit_task_path(task), :remote => true,:id => "main-"+task.id.to_s,:class => "thumbnail" %>
                    <% @count = 0%>
					<% end %>		
				</div>	
				<%= link_to 'Nova Tarefa', new_task_path(:list => list.id), :remote => true, :class => "btn btn-primary btn-lg btn-block", :style => "margin-top: 0px;" %>
			</div>	
		</div>

	</div>	
	<% end %>
	<% end %>
	<div  id="new-list" class="col-sm-6 col-md-3">
		<div class="">
			<div style="height:200px">
				<div id="List">
					<div style="height: 185px;">	<%= link_to 'Nova Lista ...', new_list_path, :remote => true, :class => "btn btn-success btn-lg btn-block" %></div>			
					<div>&nbsp;</div>
				</div>				
			</div>	
		</div>
	</div>
</div>





<br>


